language: python
sudo: false
python:
  - "2.6"
  - "2.7"
  - "3.3"
  - "3.4"
before_install:
  - pip install --find-links http://wheels.astropy.org/ --find-links http://wheels2.astropy.org/ --use-wheel sphinx nose==1.3.0 jinja2==2.6 coveralls pygments==1.6
install:
  - "python bootstrap-buildout.py"
  - "./bin/buildout"
script:
  - "./bin/coverage run --source=xbob.buildout ./bin/nosetests -sv"
after_success:
  - "coveralls"
